.App {
  text-align: center;
}
.Header {
  color: #fff;
  text-shadow: 1px 1px 5px #000;
}

.Header3 {
  font-size: .9rem;
  line-height: 1.5rem;
  font-style: italic;
  color: #fff;
  font-weight: 400;
}

/* write your parent styles in here for your App.js */
